
{% extends "base.html" %}

{% block lab %} Лабораторная работа 3 {% endblock %}

{% block main %}
<form>
<h2>Задание 1</h2>


<h2>Задание 2</h2>

    {% if A and B and C and D %}

        {{result}}

    {% else %}

        <label> Введите первое число:</label>
                <div>
                    <input type="number" name="A">
                </div>
                <br>

        <label> Введите второе число:</label>
            <div>
                <input type="number" name="B">
            </div>
        <br>

        <label> Введите третье число:</label>
            <div>
                <input type="number" name="C">
            </div>
        <br>
        <label> Введите четвертое число:</label>
            <div>
                <input type="number" name="D">
            </div>
        <div>
            <button type="submit"> Отправить </button>
        </div>  
        </form>
            
            
    {% endif%}
{% endblock %}

